// base color
$blue:#324157;
$light-blue:#3A71A8;
$light-flower-blue:#6495DE;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;

//sidebar
$menuBg:#304156;
$subMenuBg:#FFFFF0;
$menuHover:#D1E9E9;
$sideBarWidth: 180px;

:export {
  sideBarWidth: $sideBarWidth;
}
